Jinja2
MarkupSafe==0.23
Pillow
Pygments
appnope
backports-abc
backports.ssl-match-hostname
certifi
cycler
decorator
gnureadline
ipykernel
ipython
ipython-genutils
ipywidgets
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
matplotlib
mistune==0.7.1
nbconvert==4.1.0
nbformat==4.0.1
notebook==4.0.6
numpy
path.py==8.1.2
pexpect==4.0.1
pickleshare
ptyprocess
pyparsing
python-dateutil
pytz
pyzmq
qtconsole
scipy
simplegeneric
singledispatch
six
terminado
tornado
traitlets
